$color-primary : #39CDCC;
$color-white: #fff;

.btn {
    background-color: $color-primary;
}

.btn-primary {
    width: 447px;
    height: 48px;
    border-radius: 5px;

    &:hover {
        background: rgba(57, 205, 204, .8);
        cursor: pointer;
    }
}